# Runtime profile
VPN_TYPE=wireguard

# NordVPN Credentials (for OpenVPN)
OPENVPN_USER=your_nordvpn_service_user
OPENVPN_PASSWORD=your_nordvpn_service_password

# WireGuard Credentials (for NordLynx)
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key

# Shared VPN Settings
SERVER_COUNTRIES=select_country
SERVER_CITIES=select_city
FIREWALL_OUTBOUND_SUBNETS=192.168.xxx.xxx/32

# Access Point Settings
AP_IFACE=wlan0
AP_SSID=MyHotspot
AP_PASSWORD=ChangeMe123!
AP_CHANNEL=6
AP_IP=192.168.xxx.1
AP_SUBNET=192.168.xxx.0/24
